__pycache__/
*.pyc
.venv/
.env
.idea/
.vscode/
.gh_token/
.ghtoken/
.ghtoken
.gh_token.gh_token
.env
*.pem
*.pfx
*.key
.ghtoken
.ghtoken
.gvb_last_refresh
.scenario_month.stamp

# Data and Cache
src/backend/loader/financial_cache/
src/backend/loader/gvb_output.parquet
src/backend/loader/gvb_output.xlsx
src/backend/loader/runs/
loader/

# Scenario outputs
src/frontend/scenario/data/analysis_data.xlsx
src/frontend/scenario/data/output.xlsx
src/frontend/scenario/scenario_cache/
src/frontend/forecaster/presets/
scenario/

# Forecaster outputs
src/backend/forecaster/trained_models/
src/backend/forecaster/trained_outputs/


